// FONTS

/* roboto-slab-300 - latin */
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 300;
	src:
		local(''),
		url('../fonts/roboto-slab-v13-latin-300.woff2') format('woff2'),
		url('../fonts/roboto-slab-v13-latin-300.woff') format('woff'),
		url('../fonts/roboto-slab-v13-latin-300.ttf') format('truetype'),
		url('../fonts/roboto-slab-v13-latin-300.svg#RobotoSlab') format('svg');
}

/* roboto-regular - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src:
		local(''),
		url('../fonts/roboto-v27-latin-regular.woff2') format('woff2'),
		url('../fonts/roboto-v27-latin-regular.woff') format('woff'),
		url('../fonts/roboto-v27-latin-regular.ttf') format('truetype'),
		url('../fonts/roboto-v27-latin-regular.svg#Roboto') format('svg');
}

/* roboto-700 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src:
		local(''),
		url('../fonts/roboto-v27-latin-700.woff2') format('woff2'),
		url('../fonts/roboto-v27-latin-700.woff') format('woff'),
		url('../fonts/roboto-v27-latin-700.ttf') format('truetype'),
		url('../fonts/roboto-v27-latin-700.svg#Roboto') format('svg');
}

/* source-sans-pro-200 - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 200;
	src:
		local(''),
		url('../fonts/source-sans-pro-v14-latin-200.eot?#iefix') format('embedded-opentype'),
		url('../fonts/source-sans-pro-v14-latin-200.woff2') format('woff2'),
		url('../fonts/source-sans-pro-v14-latin-200.woff') format('woff'),
		url('../fonts/source-sans-pro-v14-latin-200.ttf') format('truetype'),
		url('../fonts/source-sans-pro-v14-latin-200.svg#SourceSansPro') format('svg');
}

/* source-sans-pro-regular - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src:
		local(''),
		url('../fonts/source-sans-pro-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/source-sans-pro-v14-latin-regular.woff2') format('woff2'),
		url('../fonts/source-sans-pro-v14-latin-regular.woff') format('woff'),
		url('../fonts/source-sans-pro-v14-latin-regular.ttf') format('truetype'),
		url('../fonts/source-sans-pro-v14-latin-regular.svg#SourceSansPro') format('svg');
}

/* source-sans-pro-600 - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	src:
		local(''),
		url('../fonts/source-sans-pro-v14-latin-600.eot?#iefix') format('embedded-opentype'),
		url('../fonts/source-sans-pro-v14-latin-600.woff2') format('woff2'),
		url('../fonts/source-sans-pro-v14-latin-600.woff') format('woff'),
		url('../fonts/source-sans-pro-v14-latin-600.ttf') format('truetype'),
		url('../fonts/source-sans-pro-v14-latin-600.svg#SourceSansPro') format('svg');
}

/* source-sans-pro-900 - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 900;
	src:
		local(''),
		url('../fonts/source-sans-pro-v14-latin-900.eot?#iefix') format('embedded-opentype'),
		url('../fonts/source-sans-pro-v14-latin-900.woff2') format('woff2'),
		url('../fonts/source-sans-pro-v14-latin-900.woff') format('woff'),
		url('../fonts/source-sans-pro-v14-latin-900.ttf') format('truetype'),
		url('../fonts/source-sans-pro-v14-latin-900.svg#SourceSansPro') format('svg');
}
