// Colors
$color_pending: pink;
$color_focus: deeppink;
$color_focus_alt: yellow;

$color_white: #fff;
$color_black: #000;
$color_blue: #07c;

$color_chuck_light: #79c8f8;
$color_chuck: #006cce;
$color_chuch_default: $color_blue;

$color_title: $color_black;
$color_text: $color_white;
$color_link: $color_blue;





// Gradient
$gradient_start: #1c334a;
$gradient_stop: #17283e;
$gradient_start: #83ad9f;
$gradient_stop: #234d60;
$gradient_start: #212b4c;
$gradient_stop: #441d28;



// dimensions
$dim_sitewidth: 1240;
$dim_radius: 0;
$dim_margin: 20;





// Fonts
$font_fallback: arial, sans-serif;
$font_text: 'Roboto', $font_fallback;
$font_text-alt: 'Roboto Slab', $font_fallback;
$font-chuck: 'Source Sans Pro', $font_fallback;
$font_size: 16;
$font_line_height: 130%;

$font_light: 300;
$font_regular: 400;
$font_semibold: 600;
$font_bold: 700;
$font_black: 900;





// Effects
$time_transition: .5s;





// Paths
$theme: '../img/layout/';
$chuck: '../img/maquetando-con-chuck/';





// Levels
$levels: space, content, footer;





// BreakPoints
$bp_mobile: 320;
$bp_tablet: 768;
$bp_desktop: 1024;
$bp_desktop_hd: $dim_sitewidth + ( $dim_margin * 2 );
