.chuck__footer {
	background: $color_chuck;
	border-radius: rem(4) rem(4) 0 0;
	padding: rem(12);
	text-align: center;
	color: $color-white;
	margin-top: rem(30);
}

.chuck__license {
	margin: 0 0 rem(5);
}

.chuck__cc {
	height: rem(1);
	overflow: hidden;
	padding-top: rem(15);
	display: inline-block;
	vertical-align: rem(-2);
	background: img('ico-license.svg', $chuck) left top no-repeat;
	width: rem(45);
	opacity: .8;
}

.chuck__author {
	color: inherit;
	text-decoration: none;
}

.chuck__endline {
	margin: 0;
	font-size: .85em;
	font-weight: 300;
}
