.chuck {
	background: $color_white;
	color: $color_black;
	font-family: $font-chuck;

	.page__wrapper {
		margin: 0 rem(20);

		@include mq($bp_tablet) {
			margin: 0 auto;
			max-width: rem(668);
		}
	}

	.page {
		display: flex;
		flex-direction: column;
	}

	.page__main {
		flex-grow: 1;
	}
}
