.chuck__readme {
	font-size: rem(18);
	line-height: 156%;


	a {
		color: $color_chuck;
		text-decoration: none;
	}
}

.chuck__readme-block {
	margin-top: rem(30);
}

.chuck__readme-title,
.chuck__readme-subtitle {
	color: mix($color_chuck_light, $color_chuck);
	font-family: $font_text;
	font-weight: $font_semibold;
	margin: 0 0 rem(5);
	padding-bottom: rem(10);
	position: relative;

	&::after {
		background-color: mix($color_chuck_light, $color_chuck, 20%);
		content: '';
		height: rem(1);
		left: 0;
		position: absolute;
		top: 100%;
		width: rem(30);
	}
}

.chuck__readme-videos {
	display: flex;
	flex-direction: column-reverse;
	list-style: none;
	padding-left: rem(20);
}

.video__name {
	font-weight: $font_semibold;
}

.video__duration {
	border: 1px solid $color_chuck;
	font-size: small;
	padding: 0 .25em;
}
