.social {
	@extend %unlist;

	column-gap: rem(2);
	display: flex;
}

.social__link {
	background: img('sprite-social-header.svg', $chuck) left top no-repeat rgba($color-chuck, .05);
	background-size: auto rem(40);
	border-radius: rem(3);
	display: block;
	height: rem(1);
	overflow: hidden;
	padding-top: rem(39);
	transition: background-color ease .5s;
	width: rem(40);

	&:hover {
		background-color: rgba($color-chuck, .2);
	}
}

.social__link--mastodon {
	background-position: rem(40 * 0) top;
}

.social__link--codeberg,
.social__link--github {
	background-position: rem(40 * -1) top;
}

.social__link--twitch {
	background-position: rem(40 * -2) top;
}

.social__link--youtube,
.social__link--veedeo {
	background-position: rem(40 * -3) top;
}
