.landing {
	.page__footer {
		@include z(footer);

		bottom: 0;
		position: fixed;
		right: 0;

		.page__wrapper {
			align-items: flex-end;
			display: flex;
			flex-direction: column-reverse;
			padding: rem(25);
		}
	}


	.page__footer-links {
		@extend %unlist;

		display: flex;
		justify-content: flex-end;
		margin-bottom: rem(5);
	}

	.page__footer-link {
		& + .page__footer-link {
			margin-left: rem(10);
		}
	}

	.page__footer-item {
		@include icon(40);

		border: 1px solid rgba($color_white, .2);
		border-radius: px(4);
		display: block;
		position: relative;
		width: rem(40);

		&::before,
		&::after {
			background: img('sprite-contact.svg') left top no-repeat;
			content: '';
			height: rem(16);
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			transition: color ease $time_transition;
			width: rem(16);
		}

		&::after {
			opacity: 0;
			transition: opacity ease .5s;
		}

		&:hover {
			&::after {
				opacity: 1;
			}
		}
	}

	.page__footer-item--mastodon {
		&::before {
			background-position: left top;
		}

		&::after {
			background-position: left bottom;
		}
	}

	.page__footer-item--mail {
		&::before {
			background-position: right top;
		}

		&::after {
			background-position: right bottom;
		}
	}

	.page__footer-item--chuck {
		background: img('../maquetando-con-chuck/chuck.png') center no-repeat;
		background-size: cover;

		&::before,
		&::after {
			display: none;
		}
	}

	.page__footer-item--screen-size {
		background: img('../screen-size/screensize-icon.svg') center no-repeat;
		background-size: cover;

		&::before,
		&::after {
			display: none;
		}
	}

	.page__footer-item--cookies {
		background: $color-white;

		&::before {
			background: none;
			content: '🍪';
			line-height: 1;
			font-size: 2em;
			width: unset;
			height: unset;
		}

		&::after {
			display: none;
		}
	}


	.page__footer-item--with-tooltip {
		overflow: hidden;
		position: relative;
	}

	.tooltip {
		bottom: 100%;
		color: white;
		font-weight: 900;
		left: 0;
		opacity: 0;
		padding: rem(5) 0;
		position: absolute;
		transition: opacity ease .3s;
	}

	.page__footer-item--with-tooltip:hover {
		overflow: visible;

		.tooltip {
			opacity: 1;
		}
	}
}
