<footer class="page__footer">
		<div class="page__wrapper">
			<div class="chuck__footer">
				<ul class="chuck__footer-actions">
					<li class="chuck__footer-action">
						<a href="https://github.com/oneeyedman/maquetando-con-chuck" class="chuck__footer-link chuck__footer-link--github">Repo en Github</a>
					</li>
					<li class="chuck__footer-action">
						<a href="https://twitch.tv/guanaiman" class="chuck__footer-link chuck__footer-link--twitch">Canal de Twitch</a>
					</li>
					<li class="chuck__footer-action">
						<a href="https://www.youtube.com/playlist?list=PLO-mtrYE0827SRqJnPOOU1OQLbN_OZpT6" class="chuck__footer-link chuck__footer-link--youtube">Playlist en Youtube</a>
					</li>
					<li class="chuck__footer-action chuck__footer-action-coffee">
						<a href="https://ko-fi.com/E1E435KTC" target="_blank" class="chuck__footer-coffee"><img class="chuck__footer-coffee-btn" src="../assets/img/maquetando-con-chuck/buy-me-a-coffee.svg" alt="Buy Me a Coffee at ko-fi.com" /></a>
					</li>
				</ul>
			</div>
		</div>
	</footer>
