<section class="chuck__promo">
	<h1 class="chuck__promo-title">¿Te mola el proyecto?</h1>
	<p class="chuck__promo-content">Si es así puedes apoyarlo <br>echándote un café</p>
	<p class="chuck__promo-coffee">
		<span class="chuck__promo-coffee-btn-outer">
			<a href="https://ko-fi.com/E1E435KTC" target="_blank" class="chuck__promo-coffee-btn">Échate un Coffee en ko-fi.com</a>
		</span>
	</p>
</section>
