<article class="chuck__readme">
	<div class="page__wrapper">
		<div class="chuck__readme-block">
			<h1 class="chuck__readme-title">{{page.title}}</h1>

			<p>Maquetar es de las cosas que más me molan, que más impacto tiene y que menos se respetan.</p>
			<p>Por eso, el domingo quiero dedicar un rato a <strong>maquetar en directo</strong>. A recalcar la importancia de la <strong>semántica</strong>, a animarnos a hacer nuestos componentes <strong>accesibles</strong> y a que todo el javascript del mundo da igual sin una base sólida de HTML y CSS.</p>
			<p><strong>¿Te bajas a maquetar?</strong> ¿o qué?</p>
		</div>

		{% include "./_promo.njk" %}

		<div class="chuck__readme-block">
			<h2 class="chuck__readme-subtitle">Sesiones</h2>
			<p>Durante unos días los vídeos seguirán en el <a href="https://twitch.tv/guanaiman">canal de Twitch</a> pero luego los dejaré subidos en <a href="https://www.youtube.com/c/chuck-as-usual">mi canal de Youtube</a>, recogidos además en <a href="https://www.youtube.com/playlist?list=PLO-mtrYE0827SRqJnPOOU1OQLbN_OZpT6">esta playlist</a>.</p>

			<p>Y todo el código estará en abierto en un <a href="https://github.com/oneeyedman/maquetando-con-chuck">repo de Github</a></p>

			<h3 class="chuck__readme-subtitle">Temporada 3</h3>
			{% set videos = [
				{
					name: 's03_e01 - Estilos para lista de tareas',
					videos: [
						{
							link: 'https://youtu.be/vSTdG3JmebI',
							duration: 'Casi hora y media',

							time: 'PT1H23M'
						}
					]
				},
				{
					name: 's03_e02 - Generador de estáticos: 11ty (1/2)',
					videos: [
						{
							link: 'https://youtu.be/kk6PEE6w8iA',
							duration: 'Casi hora y media',

							time: 'PT1H20M'
						}
					]
				},
				{
					name: 's03_e03 - Generador de estáticos: 11ty (2/2)',
					videos: [
						{
							link: 'https://youtu.be/9vXR57K3JQk',
							duration: 'Más de hora y media',

							time: 'PT1H38M'
						}
					]
				},
				{
					name: 's03_e04 - Input de tipo range',
					videos: [
						{
							link: 'https://youtu.be/USKQ6zw9Jaw',
							duration: '2h',

							time: 'PT1H58M'
						}
					]
				},
				{
					name: 's03_e05 - [serie] Introducción al email responsive /1',
					videos: [
						{
							link: 'https://www.twitch.tv/videos/1484475434',
							duration: 'Casi hora y media',

							time: 'PT1H29M'
						}
					]
				},
				{
					name: 's03_e06 - [serie] Mi primer email, ¡Chispas! /2',
					videos: [
						{
							link: 'https://www.twitch.tv/videos/1495172950',
							duration: 'Casi tres horas',

							time: 'PT2H47M'
						}
					]
				},
				{
					name: 's03_e07 - [serie] Email “The Eye” /3',
					videos: [
						{
							link: 'https://www.twitch.tv/videos/1501563152',
							duration: 'Casi dos horas',

							time: 'PT1H58M'
						}
					]
				},
				{
					name: 's03_e08 - [serie] Semántica, módulos y email "The Eye" /4',
					videos: [
						{
							link: 'https://www.twitch.tv/videos/1508002244',
							duration: 'Tres horas',

							time: 'PT3H01M'
						}
					]
				},
				{
					name: 's03_e09 - [serie] Email "real" /5',
					videos: [
						{
							link: 'https://www.twitch.tv/videos/1514517631',
							duration: 'Tres horas',

							time: 'PT2H57M'
						}
					]
				},
				{
					name: 's03_e10 - [serie] Email "real" /6',
					videos: [
						{
							link: 'https://www.twitch.tv/videos/1521096353',
							duration: 'Tres horas',

							time: 'PT3H06M'
						}
					]
				},
				{
					name: 's03_e11 - [serie] Email "real" /7',
					videos: [
						{
							link: 'https://www.twitch.tv/videos/1527640785',
							duration: 'Casi 4 horas',

							time: 'PT3H50M'
						}
					]
				},
				{
					name: 's03_e12 - [serie] Email responsive: tips /8',
					videos: [
						{
							link: 'https://www.twitch.tv/videos/1534297693',
							duration: '2 horas',

							time: 'PT2H08M'
						}
					]
				}
			] %}

			<ol class="chuck__readme-videos">
				{% for video in videos %}
					<li class="chuck__readme-video">
						<div class="video">
							<strong class="video__name">{{video.name}}</strong> |
							{% for item in video.videos %}
								<a href="{{item.link}}" class="video__link">Video{{' ' + loop.index if video.videos.length > 1 else ''}} <time class="video__duration" datetime="{{item.time}}">{{item.duration}}</time></a>{{'' if loop.last else ', '}}
							{% endfor %}
						</div>
					</li>
				{% endfor %}
			</ol>

			<h3 class="chuck__readme-subtitle">Temporada 2</h3>
			{% set videos = [
				{
					name: 'S02E01 - Botones',
					videos: [
						{
							link: 'https://youtu.be/EPJY2-N5yFw',
							duration: 'Casi 2h',

							time: 'PT1H46M'
						}
					]
				},
				{
					name: 'S02E02 - Input:file',
					videos: [
						{
							link: 'https://youtu.be/1kN-p2IPsBs',
							duration: '1h, ma o meno',

							time: 'PT1H5M'
						}
					]
				},
				{
					name: 'S02E03 - Modales (1)',
					videos: [
						{
							link: 'https://youtu.be/j3P2a0A_XdI',
							duration: 'Poco más de 1h y cuarto',

							time: 'PT1H16M'
						}
					]
				},
				{
					name: 'S02E04 - Modales (2)',
					videos: [
						{
							link: 'https://youtu.be/XtGzGPbaO_Y',
							duration: 'Casi 1h y cuarto',

							time: 'PT1H11M'
						}
					]
				},
				{
					name: 'S02E05 - Modales (3)',
					videos: [
						{
							link: 'https://youtu.be/MOx-_22j9Pc',
							duration: 'Casi 1h y media',

							time: 'PT1H25M'
						}
					]
				},
				{
					name: 'S02E06- Menú responsive (1)',
					videos: [
						{
							link: 'https://youtu.be/D4W_EL8W_1o',
							duration: 'Casi 1h y cuarto',

							time: 'PT1H12M'
						}
					]
				},
				{
					name: 'S02E07- Menú responsive (2)',
					videos: [
						{
							link: 'https://youtu.be/rpJOkF_bEA4',
							duration: 'Casi 1h y cuarto',

							time: 'PT1H13M'
						}
					]
				},
				{
					name: 'S02E08- Menú responsive (3)',
					videos: [
						{
							link: 'https://youtu.be/Xsv9NlWP21w',
							duration: '2h y media',

							time: 'PT2H34M'
						}
					]
				},
				{
					name: 'S02E09 - CSS Comb',
					videos: [
						{
							link: 'https://youtu.be/mDZu_E4pgok',
							duration: 'Media hora larga',

							time: 'PT38M'
						}
					]
				},
				{
					name: 'S02E10 - Checkbox y radio, accesibles y sin JS',
					videos: [
						{
							link: 'https://youtu.be/wf0R8G5kY-Q',
							duration: 'Casi 2h',

							time: 'PT1H49M'
						}
					]
				},
				{
					name: 'S02E11 - Figma para frontenders',
					videos: [
						{
							link: 'https://youtu.be/-aA27u48II4',
							duration: 'Casi 1h',

							time: 'PT54M'
						}
					]
				},
				{
					name: 'S02E12 - BEM',
					videos: [
						{
							link: 'https://youtu.be/tDF4qlFkfeA',
							duration: 'Casi 45min',

							time: 'PT44M'
						}
					]
				}
			] %}

			<ol class="chuck__readme-videos">
				{% for video in videos %}
					<li class="chuck__readme-video">
						<div class="video">
							<strong class="video__name">{{video.name}}</strong> |
							{% for item in video.videos %}
								<a href="{{item.link}}" class="video__link">Video{{' ' + loop.index if video.videos.length > 1 else ''}} <time class="video__duration" datetime="{{item.time}}">{{item.duration}}</time></a>{{'' if loop.last else ', '}}
							{% endfor %}
						</div>
					</li>
				{% endfor %}
			</ol>

			<h3 class="chuck__readme-subtitle">Temporada 1</h3>
			{% set videos = [
				{
					name: 'S01E00 - Tooltip',
					videos: [
						{
							link: 'https://www.youtube.com/watch?v=pwtNFzrbNAM',
							duration: '45 min',
							time: 'PT45M'
						},
						{
							link: 'https://www.youtube.com/watch?v=SqGFoHnJg60',
							duration: 'Casi 1h',
							time: 'PT1H'
						}
					]
				},
				{
					name: 'S01E01 - HTML (y semántica)',
					videos: [
						{
							link: 'https://www.youtube.com/watch?v=5vATBkG4Ijw',
							duration: '1h y cuarto',
							time: 'PT1H15M'
						}
					]
				},
				{
					name: 'S01E02 - Módulo de vídeos destacados',
					videos: [
						{
							link: 'https://youtu.be/UTLDi4RBx0U',
							duration: 'Casi 1h',
							time: 'PT1H'
						}
					]
				},
				{
					name: 'S01E03 - Footer 1/2',
					videos: [
						{
							link: 'https://youtu.be/5WGKZnxy4b4',
							duration: '1h y cuarto',
							time: 'PT1H15M'
						}
					]
				},
				{
					name: 'S01E04 - Footer 2/2',
					videos: [
						{
							link: 'https://youtu.be/tVqJOHIjB0w',
							duration: 'Dos horacas',
							time: 'PT2H'
						}
					]
				},
				{
					name: 'S01E05 - CSS, introducción y cómo se usa',
					videos: [
						{
							link: 'https://youtu.be/nb1PVduHPME',
							duration: '1h y 20',
							time: 'PT1H20M'
						}
					]
				},
				{
					name: 'S01E06 - CSS: Display',
					videos: [
						{
							link: 'https://youtu.be/ccluG1Mwepg',
							duration: 'Casi 1h',
							time: 'PT48M'
						}
					]
				},
				{
					name: 'S01E07 - CSS: Position',
					videos: [
						{
							link: 'https://youtu.be/zXHPgzCWsx4',
							duration: 'Casi 2h',
							time: 'PT1H45M'
						}
					]
				},
				{
					name: 'S01E08 - CSS: Flex',
					videos: [
						{
							link: 'https://youtu.be/4p_rxHkF-sM',
							duration: 'Casi 3h',
							time: 'PT2H53M'
						}
					]
				},
				{
					name: 'S01E09 - CSS: Grid',
					videos: [
						{
							link: 'https://youtu.be/17bhRbGr_oo',
							duration: 'Más de 3h',
							time: 'PT3H21M'
						}
					]
				},
				{
					name: 'S01E10 - SASS/SCSS',
					videos: [
						{
							link: 'https://youtu.be/HSC4_yrzP94',
							duration: 'Dos horas y media',
							time: 'PT2H32M'
						}
					]
				},
				{
					name: 'S01E11 - VS Code',
					videos: [
						{
							link: 'https://youtu.be/dLceE1kW604',
							duration: 'Más de 1h y media',
							time: 'PT1H39M'
						}
					]
				},
				{
					name: 'S01E12 - Proyectos',
					videos: [
						{
							link: 'https://youtu.be/_z5Ry7uY6NA',
							duration: '1h y algo',
							time: 'PT1H5M'
						}
					]
				}
			] %}

			<ol class="chuck__readme-videos">
				{% for video in videos %}
					<li class="chuck__readme-video">
						<div class="video">
							<strong class="video__name">{{video.name}}</strong> |
							{% for item in video.videos %}
								<a href="{{item.link}}" class="video__link">Video{{' ' + loop.index if video.videos.length > 1 else ''}} <time class="video__duration" datetime="{{item.time}}">{{item.duration}}</time></a>{{'' if loop.last else ', '}}
							{% endfor %}
						</div>
					</li>
				{% endfor %}
			</ol>
		</div>

		<div class="chuck__readme-block">
			<h3 class="chuck__readme-subtitle">Temas siguientes</h3>
			<ul class="chuck__readme-topics">
				<li>Conceptos de diseño para frontenders o no diseñistas</li>
				<li>Una web fácil (personal, portfolio, cv online)</li>
				<li>??</li>
			</ul>
			<p class="chuck__readme-contribute">
				<a href="https://github.com/oneeyedman/maquetando-con-chuck/issues/1">👍 Quieres proponer un tema o elemento?</a>
			</p>
		</div>
	</div>
</article>
