<article class="chuck__readme">
	<div class="page__wrapper">
		<div class="chuck__readme-block">
			<h1 class="chuck__readme-title">{{page.title}}</h1>
			<p>El origen de estos vídeos es porque cuando estaba de profe en un bootcamp eché mucho en falta poder haber hecho suficiente énfasis en la importancia de la semántica a la hora de maquetar.</p>
			<p>Luego tb pasa que hay mucho contenido de front con javascript y no tanto de maquetación y semántica.</p>
			<p>Por eso, unos domingos cada mes, voy a estar maquetando en directo un ratico.</p>
			<p>:)</p>
		</div>


		<div class="chuck__readme-block">
			<h2 class="chuck__readme-subtitle">Sesiones</h2>
			<p>Durante unos días los vídeos seguirán en el canal de Twitch pero luego los dejaré subidos en Youtube en <a href="https://www.youtube.com/playlist?list=PLO-mtrYE0827SRqJnPOOU1OQLbN_OZpT6">esta playlist</a>.</p>
			<ol>
				<li>
					<strong>00 -Tooltip</strong> | <a href="https://www.youtube.com/watch?v=pwtNFzrbNAM">Vídeo 1:<code>45 min</code></a>, <a href="https://www.youtube.com/watch?v=SqGFoHnJg60">vídeo 2: <code>casi 1h</code> </a>
				</li>
				<li>
					<strong>01 - HTML (y semántica)</strong> | <a href="https://www.youtube.com/watch?v=5vATBkG4Ijw">Vídeo: <code>1h y cuarto</code></a>
				</li>
				<li>
					<strong>02 - Módulo de vídeos destacados</strong> | <a href="https://www.twitch.tv/videos/1016566325">Vídeo: <code>casi 1h</code></a>
				</li>
				<li>
					<strong>03 - Footer 1/2</strong> | <a href="https://www.twitch.tv/videos/1024538864">Vídeo: <code>1h y cuarto</code></a>
				</li>
				<li>
					<strong>04 - Footer 2/2</strong> | <a href="https://www.twitch.tv/videos/1032377438">Vídeo: <code>dos horacas</code></a>
				</li>
			</ol>
		</div>

		<div class="chuck__readme-block">
			<h3 class="chuck__readme-subtitle">Temas siguientes</h3>
			<ul>
				<li>CSS, introducción y cómo funciona.</li>
				<li>CSS a mano: Display</li>
				<li>CSS a mano: Posicionamiento</li>
				<li>CSS a mano: Flex</li>
				<li>CSS a mano: Grid</li>
				<li>Preprocesadores</li>
				<li>Configurar nuestro editor
					<ul>
						<li>Extensiones</li>
						<li>Editorconfig</li>
					</ul>
				</li>
				<li>Linter de css/scss</li>
				<li>Organizar nuestro proyecto</li>
				<li>
					<a href="https://github.com/oneeyedman/maquetando-con-chuck/issues/1">👍 Quieres proponer un tema o elemento?</a>
				</li>
			</ul>
		</div>
	</div>
</article>
