.splash {
  background-color: #ff6600;
  overflow: hidden;
}

.splash__bg {
  background: url(/assets/img/splash/splash-bg.jpg) center top no-repeat;
  background-size: cover;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 200vw;
  height: 150vh;
  transform: translate(-50%, -50%);

  animation-duration: 10s;
  animation-name: splashSlide;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes splashSlide {
  0% {
    transform: translate(-50%, -50%) rotate(-30deg);
  }

  50% {
    transform: translate(-50%, -50%) rotate(30deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-30deg);
  }
}
