---
permalink: /humans.txt
---
/* the humans responsible & colophon */
/* humanstxt.org */


/* TEAM */
Frontend: Carlos Mañas
Mastodon: {{ settings.fedi.chuck }}.
Contact: carlos@spacenomads.com

Feline Overseer: Bonaparte
Mastodon: {{ settings.fedi.boniato }}


/* THANKS */

Trece ❤
The pure CSS parallax star background has been made by @saran5h
Demo: http://codepen.io/saransh/details/BKJun
linkedin: linkedin.com/in/saranshsinha


/* SITE */
Last update: {{ settings.date }}.
Standards: HTML5, CSS3, JS.
Components: SCSS, 11ty, Node, Gulp.
Software: VS Code, WebStorm, Penpot, Mindnode.
