<footer class="page__footer">
		<div class="page__wrapper">
			<div class="chuck__footer">
				<p class="chuck__license"><a class="chuck__cc" href="http://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer">CC BY-SA 4.0</a> {{ settings.year }} ~ <a class="chuck__author" rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://sidiostedalimones.com/now">Carlos Mañas</a></p>
				<p class="chuck__endline">Si no nos ayudamos entre nosotros… ;)</p>
			</div>

			{% include "partials/_librecounter.njk" %}
		</div>
	</footer>
