<header class="page__header chuck-header">
	<div class="page__wrapper">
		<div class="chuck-header__content">
			<h1 class="chuck-header__title">{{ title }}</h1>
			<p class="chuck-header__streaming">
				<a href="https://twitch.tv/chuck_as_usual" rel="ext" class="chuck-header__streaming-link">Twitch.tv/chuck_as_usual</a>
			</p>
			<p class="chuck-header__streaming-cal">Domingos<br>~10.30am</p>
			<aside class="page__social">
				<ul class="social">
					<li class="social__item">
						<a href="https://mastodon.social/@oneeyedman" class="social__link social__link--mastodon">Sígueme en Mastodon</a>
					</li>
					<li class="social__item">
						<a href="https://github.com/oneeyedman/maquetando-con-chuck" class="social__link social__link--github">Repo en GitHub</a>
					</li>
					<li class="social__item">
						<a href="https://www.twitch.tv/chuck_as_usual" class="social__link social__link--twitch">Canal en Twitch</a>
					</li>
					<li class="social__item">
						<a href="https://www.youtube.com/playlist?list=PLO-mtrYE0827SRqJnPOOU1OQLbN_OZpT6" class="social__link social__link--youtube">Playlist en YoutTube</a>
					</li>
				</ul>

			</aside>
		</div>
		<div class="chuck-header__avatar">
			<div class="chuck-header__avatar-item">
				<img src="../assets/img/maquetando-con-chuck/chuck-big.jpg" alt="" class="chuck-header__avatar-img">
			</div>
		</div>
		<div class="chuck-header__next">
			<a href="#main" class="chuck-header__next-link">Ir al contenido</a>
		</div>
	</div>
</header>
