<article class="chuck__readme">
	<div class="page__wrapper">
		<div class="chuck__readme-block">
			<h1 class="chuck__readme-title">{{ title }}</h1>

			<p>Maquetar es de las cosas que más me molan, que más impacto tiene y que menos se respetan.</p>
			<p>Por eso, el domingo quiero dedicar un rato a <strong>maquetar en directo</strong>. A recalcar la importancia de la <strong>semántica</strong>, a animarnos a hacer nuestos componentes <strong>accesibles</strong> y a que todo el javascript del mundo da igual sin una base sólida de HTML y CSS.</p>
			<p><strong>¿Te bajas a maquetar?</strong> ¿o qué?</p>
		</div>

		{% include "./_promo.njk" %}

		<div class="chuck__readme-block">
			<h2 class="chuck__readme-subtitle">Sesiones</h2>
			<p>Durante unos días los vídeos seguirán en el <a href="https://twitch.tv/chuck_as_usual">canal de Twitch</a> pero luego los dejaré subidos en <a href="{{ seasons.channel.link }}">mi canal de {{ seasons.channel.platform.name }}</a>, recogidos además en <a href="{{ seasons.channel.playlists }}">estas playlists</a>.</p>

			<p>Y todo el código estará en abierto en un <a href="https://github.com/oneeyedman/maquetando-con-chuck">repo de Github</a> (pronto lo moveré a Codeberg).</p>

			<p>De postre, en la temporada 3 hay una pequeña subserie de <a href="{{ seasons.s3emailResponsive.playList.link }}">maquetación de email responsive</a>.</p>

			{% set currentPlaylist = 's3'%}
			{% include "partials/chuck/_playlist.njk" %}

			{% set currentPlaylist = 's2'%}
			{% include "partials/chuck/_playlist.njk" %}

			{% set currentPlaylist = 's1'%}
			{% include "partials/chuck/_playlist.njk" %}

		</div>

		<div class="chuck__readme-block">
			<h3 class="chuck__readme-subtitle">Temas siguientes</h3>
			<ul class="chuck__readme-topics">
				<li>Conceptos de diseño para frontenders o no diseñistas</li>
				<li>Una web fácil (personal, portfolio, cv online)</li>
				<li>Linter JS: Eslint</li>
				<li>Linter CSS: Stylelint</li>
				<li>Sass Dart</li>
			</ul>
			<p class="chuck__readme-contribute">
				<a href="https://github.com/oneeyedman/maquetando-con-chuck/issues/1">👍 Quieres proponer un tema o elemento?</a>
			</p>
		</div>
	</div>
</article>
