<!DOCTYPE html>
{% block vars %}
	{% set page = {
		lang: "es",
		id: "home",
		title: "Welcome home, Asteroid",
		template: "tpl__asteroid",
		classes: ""
	} %}
{% endblock %}
<html class="no-js" lang="{{page.lang}}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{page.title}}</title>
	{% block head %}
		{% include "partials/_head.njk" %}
		<meta name="description" content="Space Nomads es una idea acerca de cómo crecer y afrontar los nuevos retos que el trabajo presenta cada día.">
	{% endblock %}
</head>
<body class="{{page.template}} {{page.id}} {{page.classes}} ready">
	<div class="page">
	{% block content %}
		<h1>{{page.title}} ☄️</h1>
	{% endblock %}
	</div>

	{% include "partials/_js.njk" %}
	{% block js %}
	{% endblock %}
</body>
</html>
