.chuck {
	background: $color_white;
	color: $color_black;
	font-family: $font-chuck;


	.page__wrapper {
		margin: 0 rem(20);

		@include mq($bp_tablet) {
			margin: 0 auto;
			max-width: rem(668);
		}
	}
}

.chuck-header {
	background: radial-gradient(99.54% 99.54% at 49.43% 50.46%, $color_chuck_light 0%, $color_chuck 100%);
	color: $color_white;

	.page__wrapper {
		display: flex;
		flex-direction: column;
		padding: rem(60) 0 rem(45);

		@include mq(540) {
			column-gap: rem(20);
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

.chuck-header__content {
	margin: rem(20) auto 0;
	order: 1;
	width: rem(165 + 32);

	@include mq(540) {
		margin-left: 0;
	}
}

.chuck-header__title {
	font-size: rem(30);
	font-weight: $font_black;
	letter-spacing: rem(.571429);
	line-height: lh(38, 30);
	margin: 0 0 rem(5);
}

.chuck-header__streaming {
	border: rem(1) solid $color_white;
	border-width: rem(1) 0;
	display: inline-block;
	margin: 0 0 rem(5);
	padding: rem(5) 0;
}

.chuck-header__streaming-link {
	color: $color_white;
	font-size: rem(16);
	font-weight: $font_semibold;
	letter-spacing: rem(.304762);
	line-height: lh(20, 16);
	text-decoration: none;
	text-transform: lowercase;
}

.chuck-header__streaming-cal {
	font-size: rem(16);
	letter-spacing: rem(.304762);
	line-height: lh(20, 16);
	margin: 0;
}



.chuck-header__avatar-item {
	margin: auto;
	padding: rem(16);
	position: relative;
	width: rem(165);

	&::before {
		box-shadow: 0 0 0 1px $color_white;
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;
	}
}

.chuck-header__avatar-img {
	box-shadow: 0 rem(25) rem(30) #1b72b4;
	display: block;
	position: relative;
	width: 100%;
	z-index: 1;
}





.chuck__readme {
	font-size: rem(18);
	line-height: 156%;

	.page__wrapper {
		@include mq($bp_tablet) {
			padding: 0 rem(20);
			box-sizing: border-box;
		}
	}

	a {
		color: $color_chuck;
		text-decoration: none;
	}
}

.chuck__readme-block {
	margin-top: rem(30);
}

.chuck__readme-title,
.chuck__readme-subtitle {
	color: mix($color_chuck_light, $color_chuck);
	margin: 0 0 rem(5);
	font-weight: $font_semibold;
	position: relative;
	padding-bottom: rem(10);

	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 100%;
		width: rem(30);
		height: rem(1);
		background-color: mix($color_chuck_light, $color_chuck, 20%);
	}
}





.chuck__readme-videos {
	list-style: none;
	padding-left: rem(20);
}

.chuck__readme-video {}

.video {}

.video__name {
	font-weight: $font_semibold;
}

.video__duration {
	font-size: small;
	border: 1px solid $color_chuck;
	padding: 0 .25em;
}





.chuck__footer {
	border-top: 2px solid mix($color_chuck_light, $color_chuck);
}

.chuck__footer-actions {
	@extend %unlist;

	display: flex;
}

.chuck__footer-action {}

.chuck__footer-link {
	display: block;
	height: rem(1);
	padding-top: rem(35);
	overflow: hidden;
	width: rem(36);
	position: relative;

	&::before {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: rem(40);
		height: rem(40);
		background: img('sprite-social.svg', $chuck) left top no-repeat;
	}
}

.chuck__footer-link--github {
	&::before {
		background-position: rem(40 * 0) top;
	}
	&:hover {
		&::before {
			background-position: rem(40 * 0) bottom;
		}
	}
}

.chuck__footer-link--twitch {
	&::before {
		background-position: rem(40 * -1) top;
	}
	&:hover {
		&::before {
			background-position: rem(40 * -1) bottom;
		}
	}
}

.chuck__footer-link--youtube {
	&::before {
		background-position: rem(40 * -2) top;
	}
	&:hover {
		&::before {
			background-position: rem(40 * -2) bottom;
		}
	}
}
