.page__main {
	@include z(content);

	color: $color_text;
	height: inherit;
	position: relative;

	.page__wrapper {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		min-height: rem(400);
		justify-content: center;
	}
}

.landing__brand {
	height: rem(154);
	margin: 0;
	position: relative;
	width: rem(152);

	&::before,
	&::after {
		background: img('spacenomads-logo.svg') left top no-repeat;
		background-size: 100% auto;
		content: '';
		display: block;
		height: rem(79);
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	&::after {
		background-position: left bottom;
		height: rem(75);
		top: rem(79);
	}
}

.landing__brand-label {
	@include accessible-hide();
}

.landing__status {
	font-family: $font_text-alt;
	font-size: rem(14);
	font-weight: $font_light;
	margin: rem(5) 0 0;
	opacity: .5;
}





.ready {
	.landing__brand {
		&::before {
			transform: translate(1500%, -1500%);
		}

		&::after {
			opacity: 0;
		}
	}

	.landing__status {
		transform: translateY(1em);
		opacity: 0;
	}
}





.active {
	.landing__brand {
		&::before {
			transition: transform ease $time_transition;
		}

		&::after {
			transition: opacity ease $time_transition .5s;
		}
	}

	.landing__status {
		transition: opacity ease $time_transition 1s, transform ease $time_transition*2 .8s;
	}
}





.has-asteroid {
	.landing__brand {
		&::before {
			transform: translate(0, 0);
		}

		&::after {
			opacity: 1;
		}
	}

	.landing__status {
		transform: translateY(0);
		opacity: .45;
	}
}
