{% set page = {
	lang: "es",
	id: "splash",
	title: "Splash test",
	template: "tpl__splash",
	classes: ""
} %}

{% extends "layouts/multi.njk" %}

{% block content %}

	<div class="splash__bg"></div>

{% endblock %}
