<footer class="page__footer">
	<div class="page__wrapper">
		<div class="page__footer-name">Space Nomads</div>
		<ul class="page__footer-links">
			<li class="page__footer-link">
				<a href="maquetando-con-chuck/" class="page__footer-item page__footer-item--chuck page__footer-item--with-tooltip">
					<span class="tooltip">Maquetando con Chuck!</span>
				</a>
			</li>
			<li class="page__footer-link">
				<a href="screen-size-me/" class="page__footer-item page__footer-item--screen-size page__footer-item--with-tooltip">
					<span class="tooltip">ScreenSize Me!</span>
				</a>
			</li>
			<li class="page__footer-link">
				<a href="cookies/" class="page__footer-item page__footer-item--cookies page__footer-item--with-tooltip">
					<span class="tooltip">Cookies!</span>
				</a>
			</li>
			<li class="page__footer-link">
				<a href="https://laterracita.online/@oneeyedman" class="page__footer-item page__footer-item--mastodon" rel="external">@oneeyedman</a>
			</li>
			<li class="page__footer-link">
				<a href="mailto:hi@spacenomads.com" class="page__footer-item page__footer-item--mail" rel="external">hi@spacenomads.com</a>
			</li>
		</ul>

		{% include "partials/_librecounter.njk" %}
	</div>
</footer>
