<footer class="page__footer">
	<div class="page__wrapper">
		<div class="page__footer-name">Space Nomads</div>
		<ul class="page__footer-links">
			<li class="page__footer-link">
				<a href="maquetando-con-chuck" class="page__footer-item page__footer-item--chuck page__footer-item--with-tooltip">
					<span class="tooltip">Maquetando con Chuck!</span>
				</a>
			</li>
			<li class="page__footer-link">
				<a href="https://mastodon.social/@oneeyedman" class="page__footer-item page__footer-item--mastodon" rel="external">@_spacenomads</a>
			</li>
			<li class="page__footer-link">
				<a href="mailto:work@spacenomads.com" class="page__footer-item page__footer-item--mail" rel="external">work@spacenomads.com</a>
			</li>
		</ul>
	</div>
</footer>
