{% if (settings.mode === 'pro') %}
	<a href="https://librecounter.org/referer/show" class="accessible-hide" target="_blank"><img src="https://librecounter.org/counter.svg" referrerPolicy="unsafe-url" /></a>
{% endif %}
