{% if (settings.mode === 'pro') %}
	<a href="https://librecounter.org/referer/show" target="_blank" class="accessible-hide"><img src="https://librecounter.org/counter.svg" referrerPolicy="unsafe-url" /></a>
{% endif %}
