.chuck__promo {
	border: rem(2) dashed #e4e5e6;
	border-radius: rem(10);
	height: rem(200);;
	margin: 3em auto;
	max-width: 320px;
	padding: rem(30);
	text-align: center;
}

.chuck__promo-title {
	font-size: 1.5em;
	font-weight: 700;
	margin: 0 0 rem(15);
}





.chuck__promo-coffee-btn-outer {
	display: block;
	height: rem(60);
	margin: auto;
	position: relative;
	width: rem(60);

	&::after {
		animation: coffee linear 6s both infinite;
		border: 2px dashed $color-blue;
		border-radius: 50%;
		content: '';
		height: rem(65);
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: rem(65);
		z-index: -1;
	}

	&:hover {
		&::after {
			animation-play-state: paused;
		}
	}
}

.chuck__promo-coffee-btn {
	background: img('btn-kofi.svg', $chuck) left top no-repeat;
	border-radius: 50%;
	box-shadow: 0 rem(2) 10px rgba($color-black, .2);
	display: block;
	height: rem(1);
	overflow: hidden;
	padding-top: rem(59);
	width: rem(60);
}


@keyframes coffee {
	0% {
	}
	100% {
		transform: translate(-50%, -50%) rotate(180deg);
	}
}
