{% set page = {
		lang: "es",
		id: "test",
		title: "Spacenomads",
		template: "tpl__test",
		classes: ""
	} %}

{% extends "layouts/main.njk" %}

{% block content %}
	<div style="color: tomato">
		Test!
	</div>
	<img src="/assets/img/maquetando-con-chuck/chuck-big.jpg" alt="">

{% endblock %}

{% block js %}
{% endblock %}
