{% set page = {
		lang: "es",
		id: "landing",
		title: "Spacenomads",
		template: "tpl__landing",
		classes: ""
	} %}

{% extends "layouts/main.njk" %}

{% block content %}
	<main class="page__main">
		<div class="page__wrapper">
			<h1 class="landing__brand">
				<span class="landing__brand-label">Space Nomads</span>
			</h1>
			<h2 class="landing__status">Pandemic edition</h2>
		</div>
	</main>

	{% include "partials/_footer.njk" %}

	<div class="space">
		<div class="stars stars--small"></div>
		<div class="stars stars--medium"></div>
		<div class="stars stars--big"></div>
	</div>
{% endblock %}

{% block js %}
{% endblock %}
