---
title: Maquetando con Chuck!
layout: layouts/chuck.njk
id: chuck
template: tpl__chuck
classes:
description: Maquetando con Chuck es mi proyecto personal para que quien quiera mejorar en temas de maquetación y semántica.
coffee: 104
eleventyNavigation:
  key: maquetando
---

{% include "partials/chuck/_header.njk" %}

<main id="main" class="page__main">
	{% include "partials/chuck/_readme.njk" %}
</main>

{% include "partials/chuck/_footer.njk" %}
