{% set page = {
	lang: "es",
	id: "chuck",
	title: "Maquetando con Chuck!",
	template: "tpl__chuck",
	classes: "",
	lvl: 2,
	coffee: 51
} %}

{% extends "layouts/chuck.njk" %}

{% block content %}

	{% include "partials/chuck/_header.njk" %}

	<main id="main" class="page__main">
		{% include "partials/chuck/_readme.njk" %}
	</main>

	{% include "partials/chuck/_footer.njk" %}
{% endblock %}

{% block js %}
{% endblock %}
